<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//UTF-8" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="UTF-8">
<head>
    <title>$error</title>
  </head>
  <body>
    <h1>$error</h1>
    $screen_placeholder
  </body>
</html>
